In [94]:
import spacy
import pandas as pd

In [95]:
df=pd.read_csv("stock_data_fixed.tsv" , sep="\t")
df.head()

  Symbol         Company    Industry  MarketCap
0   AAPL      Apple Inc.  Technology       2800
1   MSFT      Microsoft   Technology       2500
2   TSLA      Tesla Inc.  Automotive        900
3   AMZN  Amazon.com Inc  E-Commerce       1700
4  GOOGL   Alphabet Inc.  Technology       1800

In [118]:
companies = df.Company.tolist()
symbols = df.Symbol.tolist()

symbols

['AAPL',
 'MSFT',
 'TSLA',
 'AMZN',
 'GOOGL',
 'META',
 'NVDA',
 'JPM',
 'WMT',
 'KO',
 'IBM',
 'INTC',
 'CSCO',
 'ORCL',
 'SAP',
 'SONY',
 'NFLX',
 'DIS',
 'PEP',
 'ADBE',
 'PYPL',
 'UBER',
 'LYFT',
 'TWTR',
 'SNAP',
 'BABA',
 'T',
 'VZ',
 'TM',
 'GM',
 'F',
 'NKE',
 'ADDYY',
 'PFE',
 'JNJ',
 'MRNA',
 'NVAX',
 'XOM',
 'CVX',
 'BP',
 'SHEL',
 'TOT',
 'WBA',
 'COST',
 'TGT',
 'MCD',
 'SBUX',
 'YUM',
 'CMG',
 'BA',
 'AIR',
 'LMT',
 'GD',
 'RTX',
 'CAT',
 'DE',
 'MMM',
 'GE',
 'HON',
 'IBM',
 'DHR',
 'ABT',
 'MDT',
 'SYK',
 'ZBH',
 'ISRG',
 'TMO',
 'VRTX',
 'REGN',
 'BIIB',
 'GILD',
 'AMGN',
 'CELG',
 'ILMN',
 'CRSP',
 'EDIT',
 'NTLA',
 'BLUE',
 'SQ',
 'SPOT',
 'ROKU',
 'EA',
 'ATVI',
 'TTWO',
 'UBI',
 'SNE',
 'AAPL2',
 'MSFT2',
 'TSLA2',
 'AMZN2',
 'GOOGL2',
 'META2',
 'NVDA2']

In [119]:
import spacy

# ایجاد مدل خالی
nlp = spacy.blank("en")

# افزودن Entity Ruler
ruler = nlp.add_pipe("entity_ruler")

# تعریف الگوها (با نام‌های متغیر اصلاح شده)
patterns = []

# حلقه‌های اصلاح شده (استفاده از نام‌های متفاوت برای متغیرها)
for company in companies:
    patterns.append({"label": "Company", "pattern": company})

for symbol in symbols:
    patterns.append({"label": "Symbol", "pattern": symbol})


ruler.add_patterns(patterns)

In [120]:
text ="Apple Inc. AAPL is a leading technology company headquartered in Cupertino, California. With a market capitalization of over 2 trillion dollars, Apple is known for its innovative products like the iPhone, iPad, and MacBook. The company trades on the NASDAQ stock exchange under the symbol AAPL. Recently, Apple announced a new breakthrough in augmented reality (AR) technology. Microsoft Corporation, another tech giant, has a market cap of 1.8 trillion dollars. Known for its Windows operating system, Microsoft is also expanding its presence in cloud computing and AI. The company is listed on NASDAQ with the symbol MSFT. Microsoft's cloud platform, Azure, is a major competitor to Amazon Web Services (AWS). Tesla Inc., a leader in the electric vehicle industry, has been rapidly growing its market share. The company is valued at around 800 billion dollars, and it trades under the symbol TSLA on the NASDAQ exchange. Tesla is also expanding into energy storage solutions and solar power. Elon Musk, the CEO, continues to push the boundaries of technology and innovation. The pharmaceutical company Pfizer, with a market cap of 300 billion dollars, has been at the forefront of COVID-19 vaccine development. Its symbol, PFE, can be found on the New York Stock Exchange (NYSE). Pfizer is expanding its portfolio with new treatments for various diseases, including cancer and heart conditions"

In [121]:
doc = nlp(text)
for ent in doc.ents:
    print(f"Entity: {ent.text}, Label: {ent.label_}")

Entity: Apple Inc., Label: Company
Entity: AAPL, Label: Symbol
Entity: AAPL, Label: Symbol
Entity: Microsoft, Label: Company
Entity: Microsoft, Label: Company
Entity: MSFT, Label: Symbol
Entity: Microsoft, Label: Company
Entity: Tesla Inc., Label: Company
Entity: TSLA, Label: Symbol
Entity: PFE, Label: Symbol

In [122]:
from spacy import displacy
html = displacy.render(doc, style="ent", jupyter=False)

# Save the result to a file
with open("entities.html", "w", encoding="utf-8") as f:
    f.write(html)
print("نتایج در entities.html ذخیره شد.")

نتایج در entities.html ذخیره شد.